@import "tailwindcss";

:root {
  --background: oklch(0.12 0.02 255);
  --foreground: oklch(0.98 0.01 255);

  --card: oklch(0.12 0.02 255);
  --card-foreground: oklch(0.98 0.01 255);

  --primary: oklch(0.65 0.18 255);
  --primary-foreground: oklch(0.15 0.02 255);

  --secondary: oklch(0.22 0.03 255);
  --secondary-foreground: oklch(0.98 0.01 255);

  --muted: oklch(0.22 0.03 255);
  --muted-foreground: oklch(0.75 0.02 255);

  --accent: oklch(0.22 0.03 255);
  --accent-foreground: oklch(0.98 0.01 255);

  --border: oklch(0.22 0.03 255);
  --input: oklch(0.22 0.03 255);
  --ring: oklch(0.58 0.2 255);

  --warning: oklch(0.84 0.16 84);
  --warning-foreground: oklch(0.28 0.07 46);
}

.dark {
  --background: oklch(0.1 0.02 255);
  --foreground: oklch(0.98 0.01 255);

  --card: oklch(0.1 0.02 255);
  --card-foreground: oklch(0.98 0.01 255);

  --primary: oklch(0.72 0.18 255);
  --primary-foreground: oklch(0.12 0.02 255);

  --secondary: oklch(0.28 0.03 255);
  --secondary-foreground: oklch(0.98 0.01 255);

  --muted: oklch(0.28 0.03 255);
  --muted-foreground: oklch(0.8 0.02 255);

  --accent: oklch(0.28 0.03 255);
  --accent-foreground: oklch(0.98 0.01 255);

  --border: oklch(0.28 0.03 255);
  --input: oklch(0.28 0.03 255);
  --ring: oklch(0.72 0.18 255);

  --warning: oklch(0.41 0.11 46);
  --warning-foreground: oklch(0.99 0.02 95);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
}

@layer base {
  body {
    background-color: oklch(var(--background));
    color: oklch(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
